
<div class="center">
  <input type="text" [formControl]="searchString" (keyup.enter)="updateSearch()">
  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
  <button class="btn-primary" (click)="updateSearch()">Search</button>
</div>

<p *ngIf="searchStatus>0"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="searchEngs">
  <thead>
  <tr>
    <th>SearchEngine</th>
    <th>Request</th>
    <th>Title</th>
    <th>EnteredDate</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let eng of searchEngs">
    <td>{{ eng.searchEngine }}</td>
    <td>{{ eng.request }}</td>
    <td>{{ eng.title }}</td>
    <td>{{ eng.enteredDate | date:'short' }}</td>
  </tr>
  </tbody>
</table>
