<h1 id="tableLabel">Search</h1>
<label>
  search:
  <input type="text" [formControl]="searchString">
  <button (click)="updateSearch()">Search</button>
</label>

<p *ngIf="!searchengs"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="searchengs">
  <thead>
  <tr>
    <th>SearchEngine</th>
    <th>Request</th>
    <th>Title</th>
    <th>EnteredDate</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let eng of searchengs">
    <td>{{ eng.searchEngine }}</td>
    <td>{{ eng.request }}</td>
    <td>{{ eng.title }}</td>
    <td>{{ eng.enteredDate }}</td>
  </tr>
  </tbody>
</table>
